@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*,
*::after,
*::before{
    box-sizing : border-box;
    padding : 0;
    margin : 0;
}
html {
    font-size : 62.5%;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    background-color :rgb(255, 255, 255);
    overflow-x : hidden;
}
.container{
    max-width : 1100px;
    width : 90%;
    margin : 0 auto;
}
.header{
    display : block;
    box-shadow : 0px 5px 10px 0px #aaaaaa;
    position : fixed;
    width : 100%;
    background : #fff;
    color : #000;
    z-index : 999;
    
}
.navbar{
    display : flex;
    height : 64px;
    justify-content: space-between;
    align-items : center;
    flex-wrap : wrap
}
.logo{
    order : 1;
}
.logo-img{
    height : 6rem;
    width : 7rem;
    background-image : url("./images/mv.jpg");
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
}
.options{
    order : 2;
    display : flex;
    flex-direction : row;
}
.options li{
    float : left;
    list-style-type: none;
    margin-left : 2rem;
    font-size : 1.8rem;
}
.nav-items{
    text-decoration : none;
    color:black;
}
.nav-items:hover{
    transition : 0.2s;
    background-color:rgb(0, 0, 0,0.2);
    border-radius : 10px;
    cursor:pointer;
}
.half-photo{
    height : 85vh;
    background-image : url('./images/1567831.jpg');
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    display : flex;
    flex-direction : column;
    align-items : center;
    border-radius : 0px 0px 100% 0px;
    justify-content : center;
}
.main-heading-container{
    max-width : 110rem;
    width : 90%;
    margin : 0 auto;
    margin-top : 4rem;
}
.bg-color{
    background-color:#ddd;
}
.heading-text{
    font-size : 5rem;
    color:#0e2c3d;
    background-color:#e0fbfc;
    display : inline-block;
    border-radius : 2.5rem 0px 2.5rem 0px;
    border-left:2px solid red;
    border-top : 2px solid black;
    border-right:2px solid red;
    border-bottom : 2px solid black;
}
.my-photo{
    height : 31rem;
    width : 31rem;
    background-image : url('./images/my-photo.jpg');
    background-size : cover;
    background-position : center;
    border-radius : 50%;
    position : absolute;
}
.mybackdiv{
    background-color:white;
    height : 31.3rem;
    width : 31.3rem;
    border-radius : 50%;
    background-color:rgb(175, 240, 240);
    border-right : 0.5rem solid rgb(0, 0, 0);
    box-sizing : content-box;
}
.mytext{
    font-size:3rem;
}
.name{
    font-size: 2.5rem;
    color:rgb(42, 5, 90)
}
.nameandtext{
    display : flex;
    justify-content : space-around;
    align-items : center;
    flex-direction : column;
}

.horizontalline{
    margin-top : 1rem;
    width : 70%;
    margin-left : 50%;
    transform : translate(-50%,0);
    height : 0.4rem;
    background-color:black;
    border-radius : 1rem;

}
.card{
    height : 22rem;
    width : 18rem;
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
    border-radius : 2rem;
    margin : 1.5rem;
}
.card:hover{
    box-shadow:0 10px 10px 0 rgba(0,0,0,0.5);
    transition : 0.2s;
}
.card-image{
   
    
    height : 18rem;
    border-radius : 2rem;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    display : flex;
    flex-direction : column;
    align-items : center;
    justify-content : center;
    

}

.forbr{
    padding-top: 1rem;
    margin-bottom : 2rem;
}
.imgurl1{
    background-image : url('./images/cplucplus.png');
}
.imgurl2{
    background-image : url('./images/download.png');
}
.imgurl3{
    background-image : url('./images/java.png');
}
.imgurl4{
    background-image : url('./images/sql.png');
}
.imgurl5{
    background-image : url('./images/react.png');
}
.imgurl6{
    background-image : url('./images/php.png');
}
.imgurl7{
    background-image : url('./images/php.png');
}
.imgurl8{
    background-image : url('./images/mongo.png');
}
.imgurl9{
    background-image : url('./images/express3.png');
}
.imgurl10{
    background-image : url('./images/node1.png');
}

.card-name{
    font-size : 3rem;
    text-align : center;
    font-weight : 200;
    background-color:rgb(227, 251, 255);
}
.cardContainer{
    margin : 0 auto;
}
.flexContainer{
    display : flex;
    justify-content: center;
    flex-wrap : wrap;
}
.main-row{
    display : flex;
    flex-direction : column;
}
.row{
    height : 30rem;
    margin : 2rem;
}
.project-heading {
    text-align : center;
    margin : 1rem;
    color:rgb(0, 0, 0);
    border-radius : 3rem;
    font-size : 3rem;
}
.project-main-content{
    font-size : 1.7rem;
    text-align : left;
    display : flex;
    align-items : center;
    justify-content : space-evenly;
    margin : 2rem 4.5rem 2rem 4.5rem;
}
.rowodd{
    display : flex;
    justify-content : space-around;
    flex-wrap : wrap-reverse;
}
.roweven{
    display : flex;
    justify-content : space-around;
    flex-wrap : wrap;
}
.project-content{
    width : 50%;
    font-size : 3rem;
    background-color:rgb(227, 251, 255);
    
    box-shadow : 3px 4px 4px 3px rgba(0,0,0,0.2);
}
.project-img1{
    background-image : url('./images/payroll.jpg');
}
.project-img2{
    background-image : url('./images/mediacontroller.jpg');
}
.project-img3{
    background-image : url('./images/elearning.jpg');
}
.project-img4{
    background-image : url('./images/elibrary.jpg');
}
.project-img5{
    background-image : url('./images/equityportfolio.jpg');
}
.pimg{
    width : 50%;
    background-size : cover;
    background-repeat:no-repeat;
    background-position : center;
    
    box-shadow : 3px 0 4px 3px rgba(0,0,0,0.2);
}
.footer{
    right: 0;
    bottom: 0;
    width: 100%;
    background-color:rgb(92, 92, 92);
    color: white;
    text-align: center;
    height : 10rem;
    display : flex;
    align-items : center;
    justify-content : center;
}
.each-certi{
    border-bottom : 2.5px solid black;
    margin-top : 1rem;
    margin-bottom : 1rem;
    display : flex;
    align-items : center;
    justify-content : space-between;
    flex-wrap : wrap;
    font-family : Comic Sans MS, Comic Sans, cursive;
    background-image: linear-gradient(to right, white,#b9fcfc);
    border-radius : 2rem;
}
.each-certi1{
    border-bottom : 2.5px solid black;
    margin-top : 1rem;
    margin-bottom : 1rem;
    display : flex;
    align-items : center;
    justify-content : space-between;
    flex-wrap : wrap;
    font-family : Comic Sans MS, Comic Sans, cursive;
    background-image: linear-gradient(to right, #b9fcfc,white);
    border-radius : 2rem;
}
.goto-button-image{
    height : 4rem;
    width : 5.5rem;
    background-image : url('./images/goto.png');
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    float : right;
}
.certi-site, .certi-name{
    font-size : 2rem;
}
 .design-background{
    position : absolute;
    z-index : -1;
    height : 50rem;
    width :50rem;
    overflow:hidden;
    margin-left : 80%;
    transform : rotate(30deg);
    border-top : 4px solid blue;
    border-right : 4px solid black;
    border-bottom : 4px solid blue;
    border-left : 4px solid black;
    border-radius : 40%;
    animation :  photospin infinite 5.5s linear;
} 
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 999; /* Sit on top */
    left: 0;
    top: 0; /* Full width */
    width : 100%;
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(230, 230, 230, 0.8); /* Black w/ opacity */
}
.modal-content {
    top : 50%;
    transform:translateY(-50%);
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width : 800px;
    max-width : 90%;
    border: 1px solid #888;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
.modal-header-success {
    padding: 2px 16px;
    background-image: linear-gradient(to right, #ffffff, #cbf8ff, #00feff, #00fed8, #27f04a);
    color: black;
    text-align : center;
}
.img-tag{
    width : 100%;
}
.close {
    color: rgb(0, 0, 0);
    font-size: 2.8rem;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: rgb(172, 120, 120);
    text-decoration: none;
    cursor: pointer;
}
@keyframes photospin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
@media (max-width : 720px){
    html{
        font-size : 50%;
    }
    .row{
        height : 50rem;
    }
    .project-content {
        width : 57rem;
        height : 60%;
    }
    .pimg{
        width : 57rem;
        height : 40%;
    }
    .each-certi, .each-certi1{
        flex-direction : column;
    }
    
}
@media(max-width : 910px){
    .row{
        height : 40rem;
    }
}
@media(max-width : 440px){
    .row{
        height : 50rem;
    }
    .each-certi{
        flex-direction : column;
    }
}
@media(max-width : 300px){
    .row{
        height : 52rem;
    }
}
@media (max-width : 521px){
    html{
        font-size : 40%;
    }
}
@media (max-width : 281px){
    html{
        font-size : 35%;
    }
}